body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    height: 100vh;
    font-family: cursive;
  }

 input,
    textarea {
    padding: 5px;
    outline: none;
  }

  textarea {
      width: 100%;
  }

  label {
    line-height: 1.9rem;
  }

  input[type="submit"], input[type="reset"] {
   transform: translate(2.2%);
   padding: 3px;
   margin-top: 0.6rem;
   font-family: cursive;
   font-weight: bold;
   width: 200px;
  }

 fieldset {
   padding: 20px 40px;
 }